<h1>BAND TRACKER</h1>

<form action='/output' method='get'>
  <div class="form-group">
    <label for="???">Enter your Band here!</label>
    <input id="???" name="???" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">????</button>
</form>
